@font-face {
    font-family: "Colaborate-Thin";
    src: url("../fonts/ColabThi.eot?") format("eot"), url("../fonts/ColabThi.woff") format("woff"), url("../fonts/ColabThi.ttf") format("truetype"), url("../fonts/ColabThi.svg#Colaborate-Thin") format("svg");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Colaborate-Light";
    src: url("../fonts/ColabLig.eot?") format("eot"), url("../fonts/ColabLig.woff") format("woff"), url("../fonts/ColabLig.ttf") format("truetype"), url("../fonts/ColabLig.svg#Colaborate-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Colaborate-Regular";
    src: url("../fonts/ColabReg.eot?") format("eot"), url("../fonts/ColabReg.woff") format("woff"), url("../fonts/ColabReg.ttf") format("truetype"), url("../fonts/ColabReg.svg#Colaborate-Regular") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Colaborate-Medium";
    src: url("../fonts/ColabMed.eot?") format("eot"), url("../fonts/ColabMed.woff") format("woff"), url("../fonts/ColabMed.ttf") format("truetype"), url("../fonts/ColabMed.svg#Colaborate-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "ChunkFive";
    src: url("../fonts/Chunkfive.eot?") format("eot"), url("../fonts/Chunkfive.woff") format("woff"), url("../fonts/Chunkfive.ttf") format("truetype"), url("../fonts/Chunkfive.svg#ChunkFive") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AlexandriaFLF";
    src: url("../fonts/AlexandriaFLF.eot?") format("eot"), url("../fonts/AlexandriaFLF.woff") format("woff"), url("../fonts/AlexandriaFLF.ttf") format("truetype"), url("../fonts/AlexandriaFLF.svg#AlexandriaFLF") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AlexandriaFLF-Bold";
    src: url("../fonts/AlexandriaFLF-Bold.eot?") format("eot"), url("../fonts/AlexandriaFLF-Bold.woff") format("woff"), url("../fonts/AlexandriaFLF-Bold.ttf") format("truetype"), url("../fonts/AlexandriaFLF-Bold.svg#AlexandriaFLF-Bold") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Contra";
    src: url("../fonts/CONTRA__.eot?") format("eot"), url("../fonts/CONTRA__.woff") format("woff"), url("../fonts/CONTRA__.ttf") format("truetype"), url("../fonts/CONTRA__.svg#Contra") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Contra Italic";
    src: url("../fonts/CONTRAI_.eot?") format("eot"), url("../fonts/CONTRAI_.woff") format("woff"), url("../fonts/CONTRAI_.ttf") format("truetype"), url("../fonts/CONTRAI_.svg#Contra-Italic") format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "FlareLightGothic";
    src: url("../fonts/FlareLightGothic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FranklinGothicBook";
    src: url("../fonts/FranklinGothicBook.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ComicSansMS";
    src: url("../fonts/ComicSansMS.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}