@import 'fonts';
@import 'global';
// HEADER start
.header {
    padding-top: 37px;
    &__inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        display: flex;
        &-img {
            margin: 0 5px 0 10px;
        }
        &-content {
            color: #fff;
            line-height: 30px;
            .logo-title {
                font-family: "FlareLightGothic";
                font-size: 39px;
            }
            .logo-subtitle {
                font-family: "FranklinGothicBook";
                font-size: 17px;
                line-height: 39px;
            }
        }
    }
    .line__box {
        display: none;
        cursor: pointer;
        .line {
            width: 60px;
            height: 8px;
            background-color: #d7d7e3;
        }
        .line+.line {
            margin-top: 10px;
        }
    }
    &__dropDown-menu {
        display: none;
        .menu__list {
            display: flex;
            justify-content: center;
        }
    }
    .menu {
        margin-right: 75px;
        &__list-item {
            display: inline-block;
            a {
                padding: 7px 10px 7px 14px;
                border-radius: 5px;
                font-family: "Colaborate-Light", sans-serif;
                font-size: 17px;
                color: #d7d7e3;
                transition: all .5s;
                &:hover {
                    background-color: #fff;
                    color: #161628;
                }
            }
        }
    }
}

// HEADER end
// BIGSLIDER start
.bigSlider__inner {
    width: 100%;
    margin-top: 50px;
    &-item {
        max-width: 740px;
        width: 100%;
        display: flex !important;
        justify-content: space-between;
        margin: 0 auto;
        .item__contentBox {
            text-align: right;
            text-align: -webkit-right;
            margin-right: 40px;
            color: #e7e8ea;
            &-title {
                font-family: "ChunkFive";
                font-size: 45px;
                text-transform: uppercase;
                margin-top: 40px;
            }
            &-subtitle {
                font-family: "AlexandriaFLF";
                font-size: 39px;
                span {
                    font-family: "AlexandriaFLF-Bold";
                }
            }
            &-text {
                width: 185px;
                font-family: "Colaborate-Thin", sans-serif;
                font-size: 23px;
                margin: 5px 0 20px;
            }
            &-link {
                padding: 13px 39px;
                border: 1px solid #6e9ad8;
                font-family: "Colaborate-Medium", sans-serif;
                font-size: 23px;
                margin-bottom: 25px;
            }
            .shadow__link {
                width: 185px;
                height: 24px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                margin-right: 3px;
            }
        }
        .item-img {
            width: 471px;
            height: 383px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    .bigSlick-btn {
        position: absolute;
        top: 125px;
        z-index: 10;
        &::before {
            content: '';
            width: 39px;
            height: 39px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            transition: all .5s;
        }
    }
    .bigSlick-prev {
        content: '';
        left: -32px;
        &::before {
            background-image: url(../images/prev.png);
        }
        &:hover::before {
            background-image: url(../images/prev_h.png);
        }
    }
    .bigSlick-next {
        right: 10px;
        &::before {
            background-image: url(../images/next.png);
        }
        &:hover::before {
            background-image: url(../images/next_h.png);
        }
    }
}

// BIGSLIDER end
// FEATURES start
.features {
    &__inner {
        display: flex;
        justify-content: space-between;
        &-item {
            width: 257px;
            height: 172px;
            background-size: contain;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 13px 0 15px;
            position: relative;
            .features__item-img {
                width: 100%;
                text-align: center;
            }
            .features__item-title {
                font-family: "FranklinGothicBook";
                font-size: 19px;
                color: #434353;
            }
        }
        &-item.box1 {
            .features__item-img {
                text-align: right;
                margin-right: 20px;
            }
            &::before {
                content: '';
                width: 28px;
                height: 32px;
                background-image: url(../images/e_box1.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                left: 24px;
                top: 28px;
            }
        }
        &-item.box4 {
            &::before {
                content: '';
                width: 58px;
                height: 55px;
                background-image: url(../images/new_box4.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                right: 6px;
                top: 8px;
            }
        }
    }
    &__inner.bottom {
        color: #505050;
        margin: 0 15px;
        .features__inner-item {
            font-family: "Colaborate-Light", sans-serif;
            max-width: 300px;
            width: 100%;
            display: block;
            .features__icon {
                display: flex;
                justify-content: flex-start;
                .features__icon-img {
                    margin-right: 10px;
                }
                .features__icon-content {
                    .icon-title {
                        font-size: 25px;
                        line-height: 23px;
                    }
                }
            }
        }
        .features__text {
            height: 55px;
            overflow: hidden;
            font-size: 14px;
            margin-top: 20px;
            padding-right: 10px;
        }
    }
}

// FEATURES end
// NEWSSLIDER start
.newsSlider {
    margin-bottom: 40px;
    &__inner {
        width: 100%;
        &-item {
            display: flex !important;
            align-items: center;
            justify-content: center;
            width: 935px;
            height: 78px;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 0 auto;
            position: relative;
            .newsSlider-text {
                max-width: 555px;
                width: 100%;
                text-align: center;
                font-family: "Contra", sans-serif;
                font-size: 16px;
                line-height: 25px;
                color: #828181;
                span {
                    color: #687b96;
                }
            }
        }
    }
    .newsSlick-btn {
        position: absolute;
        top: 25px;
        z-index: 10;
        &::before {
            content: '';
            width: 24px;
            height: 27px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
        }
    }
    .newsSlick-prev {
        content: '';
        left: 165px;
        &::before {
            background-image: url(../images/left.png);
        }
    }
    .newsSlick-next {
        content: '';
        right: 190px;
        &::before {
            background-image: url(../images/right.png);
        }
    }
}

// NEWSSLIDER end
// REVIEW start
.review {
    font-family: "Colaborate-Light", sans-serif;
    margin-bottom: 40px;
    .title__inner {
        width: 420px;
        margin: 0 auto;
        text-align: left;
    }
    &__inner {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 0 25px;
    }
    .review__inner-iten {
        video {
            object-fit: contain;
        }
    }
    .link__inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .item__contentBox-link {
        width: 130px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
    }
}

.list {
    margin: 50px 30px 30px;
    list-style: none;
    &__link {
        position: relative;
        padding-left: 25px;
        &::before {
            content: '';
            width: 14px;
            height: 14px;
            background-image: url(../images/bullet.png);
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: 2px;
            left: 0;
        }
        a {
            font-size: 15px;
            color: #828181;
        }
    }
    li+li {
        margin-top: 15px;
    }
}

// REVIEW end
// NEWS start
.news {
    margin-bottom: 30px;
    .news__inner {
        border-top: 1px solid #d7d8da;
    }
    .select__inner {
        position: relative;
        &::before {
            content: '';
            width: 14px;
            height: 14px;
            background-image: url(../images/+.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: 14px;
            left: 5px;
        }
    }
    &__line {
        max-width: 900px;
        width: 100%;
        border: 1px solid #d7d8da;
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: transparent;
        appearance: none;
        padding: 12px 10px 10px 30px;
    }
    option {
        font-family: "Colaborate-Light", sans-serif;
        font-size: 15px;
        outline: transparent;
    }
}

// NEWS end
// SEARCH start
.search {
    &__inner {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-image: linear-gradient(to top, #d5d6d8, #e9eaeb);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 43px 25px 35px;
        margin: 40px auto 0;
        font-family: "Colaborate-Light", sans-serif;
    }
    &__form {
        input {
            width: 250px;
            height: 30px;
            background-color: #fcfcfc;
            border: 1px solid #c9c9c9;
            border-radius: 15px;
            padding: 0 10px 0 32px;
            margin: 0 auto;
            &::placeholder {
                font-size: 13px;
                color: #d7d7d7;
            }
        }
        .search__btn {
            position: relative;
            &::before {
                content: '';
                width: 13px;
                height: 13px;
                background-image: url(../images/search_icon.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                top: -10px;
                left: -242px;
            }
        }
    }
}

// SEARCH end
// PRODUCTS start
.products__slider {
    width: 100%;
    &-item {
        width: 100%;
        display: flex !important;
        justify-content: center;
        position: relative;
        .box+.box {
            margin-left: 75px;
        }
        .slider__item-img {
            width: 214px;
            height: 273px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin: 27px 0 15px;
        }
        .slider__item-title {
            margin-left: 10px;
        }
        .slider__item-subtitle {
            margin-left: 10px;
        }
        .slider__item-link {
            padding: 11px 24px;
            margin: 20px 0 70px 15px;
        }
    }
    .prodSlick-btn {
        position: absolute;
        top: 140px;
        z-index: 10;
        &::before {
            content: '';
            width: 39px;
            height: 39px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            transition: all .5s;
        }
    }
    .prodSlick-prev {
        left: 21px;
        &::before {
            background-image: url(../images/prev.png);
        }
        &:hover::before {
            background-image: url(../images/prev_h.png);
        }
    }
    .prodSlick-next {
        right: 60px;
        &::before {
            background-image: url(../images/next.png);
        }
        &:hover::before {
            background-image: url(../images/next_h.png);
        }
    }
}

.tab__inner {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #bfc0c5;
    .tabPopular,
    .tabRecent {
        font-family: "Colaborate-Regular", sans-serif;
        padding: 10px 25px 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        cursor: pointer;
    }
    .tabPopular {
        background-color: #434356;
    }
    .tabRecent {
        background-color: #ceced0;
        margin-left: 5px;
    }
}

.productsPage__inner {
    max-width: 800px;
    width: 100%;
    margin: 40px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &-item {
        max-width: 240px;
        width: 100%;
        display: flex;
        margin-bottom: 65px;
        .productsPage__item-img {
            width: 110px;
            height: 87px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        .productsPage__item-box {
            margin-left: 15px;
            .productsPage__item-title {
                font-size: 22.59px;
            }
            .productsPage__item-subtitle {
                font-size: 12.55px;
            }
            .productsPage__item-link {
                font-size: 13.85px;
                padding: 8px 15px;
                margin-top: 10px;
            }
        }
    }
}

.productsPage__inner.recent {
    display: none;
}

// PRODUCTS end
// PRODUCTINNER start
.productInnerPage {
    font-family: "Colaborate-Light", sans-serif;
    &__title-box {
        max-width: 360px;
        width: 100%;
        text-align: center;
        margin: 0 auto 20px;
    }
    &__title {
        font-size: 31px;
        padding-top: 40px;
    }
    .tm {
        padding-top: 30px;
    }
    &__sale {
        width: 100%;
        height: 381px;
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__logo {
        display: flex;
        margin-top: -35px;
        &-img {
            margin: 0 5px 0 10px;
            img {
                width: 31px;
                height: 31px;
            }
        }
        &-content {
            color: #fff;
            line-height: 25px;
            .logo-title {
                font-family: "FlareLightGothic";
                font-size: 32.7px;
            }
            .logo-subtitle {
                font-family: "FranklinGothicBook";
                font-size: 14.25px;
            }
        }
    }
    &__offer {
        width: 131px;
        height: 131px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        font-family: "Colaborate-Light", sans-serif;
        padding: 25px 10px 0;
        position: absolute;
        top: 95px;
        right: 213px;
        &-price {
            font-size: 39px;
        }
        &-text {
            font-size: 15px;
            line-height: 20px;
        }
    }
    &__link {
        width: 130px;
        padding: 10px 30px 7px;
        margin: 0 auto;
    }
    &__text {
        font-size: 15px;
        color: #828181;
        margin-top: 15px;
        padding-right: 120px;
    }
    &__list-inner {
        margin-left: 50px;
        .productInnerPage__title {
            margin-left: 5px;
        }
        .list {
            margin: 20px 0 95px;
        }
    }
}

// PRODUCTINNER end
// FOOTER start
.footer {
    height: 290px;
    font-family: "Colaborate-Light";
    border-top: 1px solid #353546;
    &__inner-top {
        max-width: 900px;
        width: 100%;
        height: 85px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #505062;
        border-bottom: 1px solid #505062;
        padding-left: 25px;
        .inner__top-item {
            margin-left: 30px;
            .text {
                font-family: "Contra";
                font-size: 13px;
            }
            .author {
                text-align: right;
                font-family: "Contra Italic";
                font-size: 15px;
            }
        }
    }
    &__inner-bottom {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        .inner__bottom-item {
            max-width: 430px;
            width: 100%;
            .inner__bottom-title {
                font-size: 25px;
            }
            .inner__bottom-text {
                font-size: 14px;
                padding-right: 65px;
                margin: 15px 0 20px;
            }
            .footer__form-left {
                input {
                    width: 210px;
                    height: 27px;
                    background-color: #242439;
                    border-radius: 5px;
                    padding: 0 12px;
                    font-size: 14px;
                    color: #e7e8ea;
                    border: none;
                    outline: transparent;
                }
            }
            .inner__bottom-icons {
                margin: 15px 0 10px;
                a+a {
                    margin-left: 13px;
                }
            }
            .footer__form-right {
                margin-right: 10px;
                position: relative;
                .form-inner {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;
                    .form-left {
                        width: 215px;
                        input {
                            width: 213px;
                            height: 28px;
                            background-color: #242439;
                            color: #e7e8ea;
                            padding: 0 12px;
                            margin-bottom: 11px;
                            border: none;
                            border-radius: 5px;
                        }
                    }
                    .form-right {
                        width: 192px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        textarea {
                            width: 190px;
                            height: 105px;
                            background-color: #242439;
                            color: #e7e8ea;
                            padding: 0 12px;
                            border: none;
                            border-radius: 5px;
                            resize: none;
                            margin-bottom: 15px;
                            .footer__btn {
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }
    &__btn {
        width: 85px;
        height: 27px;
        background-color: #e7e8ea;
        border-radius: 5px;
        margin-left: 15px;
    }
}

// FOOTER end
@import 'media';